.layout {
    border: 1px solid red;
    min-height: 90vh;
    display: grid;
    grid-template-areas:
        "sidebar main aside";
}

.sidebar {
    grid-area: sidebar;
    background-color:  blue;
    position: fixed;
    left: 0;
    height: 90vh;
    width: 350px;
}

.main {
    grid-area: main;
    background-color: blueviolet;
    min-height: 90vh;
    margin-left: 350px; 
    margin-right: 350px; 
}

.aside {
    grid-area: aside;
    background-color:  greenyellow;
    position: fixed;
    right: 0;
    height: 90vh;
	width: 350px;
}

